html, body {
    height: 100%; /* Establece la altura al 100% */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/img/gif.gif"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; /* Evita que aparezca una barra de desplazamiento vertical */
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover .avatar {
    transform: translateY(-20px);
}

.card:hover .info {
    max-height: 200px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    transition: transform 0.3s ease;
}

.info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 8px;
}
.logo-link {
    position: fixed;
    top: 20px;
    left: 20px; /* Colocamos el logo en la esquina superior izquierda */
    z-index:9999;
}

.logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease; /* Agregamos una transici칩n para la animaci칩n */
}

/* Agregamos una animaci칩n al hacer hover sobre el logo */
.logo:hover {
    transform: scale(1.1); /* Escalamos el tama침o del logo al hacer hover */
}


